# Repository specific items
ICRP110_V1.2.zip
P110\ data\ V1.2/*

# Emacs temp files
*.*~
*~
.#*

# C/C++ objects
*.o

# svn bollocks
.svn

# Apple bullshit
.DS_Store

# Compiled python
*.pyc

# STL files
*.stl

# Dolphin directory files
.directory

